
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="top-bar" class="container-fluid d-flex justify-content-between align-items-center">
  <h1 id="header">Profil {{this.user?.login}}</h1>
  <div>
    <button class="btn btn-outline-primary px-5 mx-3" (click)="switchToStartView()">Graj</button>
    <button class="btn btn-primary px-5 mx-3" (click)="logout()">Wyloguj</button>
  </div>
</div>
<div class="container1">

  <div class="map-section">
    <div class="choose-map-category">
      <select #selectRefCat (change)="changeMapCategory(selectRefCat)" class="map-select">
        <option *ngFor="let category of mapListsCategories; let i = index" value="Mapa 1">{{category}}</option>
      </select>
    </div>
    <div class="choose-map">
      <select #selectRefMap (change)="changeMap(selectRefMap)" class="map-select">
        <option *ngFor="let map of mapList; let i = index" value="Mapa 1">{{map.raceMap.name}}</option>
      </select>
    </div>
    <div class="new-map-btn">
      <button (click)="switchToNewMapView()">Utwórz nową</button>
      <button *ngIf="chosenCategory === mapListsCategories[0]" (click)="deleteMap()">Usuń mapę</button>

    </div>
    <div class="map-preview">
      <app-map></app-map>
    </div>
    <div class="map-stats">
      <div>
        <div class="fw-bold stat-info">
          <label>Wszystkich rozegranych:</label>
        </div>
        <div class="stat-info">{{allGames}}</div>
        <div *ngIf="selectRefCat.selectedIndex !== 0" class="fw-bold stat-info">
          <label *ngIf="selectRefCat.selectedIndex === 1">Moich wygranych:</label>
          <label *ngIf="selectRefCat.selectedIndex === 2">Moich rozegranych:</label>
        </div>
        <div class="stat-info">{{this.mapList[0]?.games}}</div>
      </div>
      <div>
        <div class="fw-bold stat-info">Ocena</div>
        <div class="stat-info">{{mapRate}}</div>
      </div>


    </div>
  </div>
  <div class="user-info">
    <div class="my-map-label" style="font-weight: bold">
      <div>{{chosenCategory}}</div>
    </div>
    <div class="avatar">
      <div style="font-weight: bold;">Awatar</div>
      <div>
        <label id="player-avatar"><img [src]="avatar"/>
        </label>
      </div>
    </div>
    <div class="ranking">
      <div style="font-weight: bold; ">Ranking</div>
      <div >Pozycja: {{this.user?.ranks?.rankingPosition}}</div>
      <div >Punkty: {{this.user?.ranks?.points}}</div>
      <div style="font-weight: bold; ">Rozegrane/wygrane gry</div>
      <div > {{user?.statistics?.userWins}}/{{user?.statistics?.userGames}} </div>
    </div>
    <div class="name">
      <div style="font-weight: bold;">Nazwa użytkownika</div>
      <div >{{this.user?.login}}</div>
    </div>
    <div class="email">
      <div style="font-weight: bold; ">E-mail</div>
      <div >{{this.user?.email}}</div>
    </div>
  </div>


</div>

</body>
</html>
