<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div
      id="top-bar"
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <h1 id="header">Profil {{ this.user?.login }}</h1>
      
      <div id="iconButtons">
        <div id="help" class="material-symbols-outlined px-5 mx-3" [routerLink]="'/instruction'"> help </div>
        <button
          class="btn btn-outline-primary px-5 mx-3"
          (click)="switchToStartView()"
        >
          Graj
        </button>
        <button class="btn btn-primary px-5 mx-3" (click)="logout()">
          Wyloguj
        </button>
      </div>
    </div>
    <div class="container1">
      <div class="map-section">
        <div class="choose-map-category"></div>
        <div class="choose-map">
          <ul>
            <li
              class="map-select"
              [ngClass]="{
                'chosen-category':
                  map.raceMap.mapId === this.chosenMap.raceMap.mapId
              }"
              (click)="changeMap(map.raceMap.mapId)"
              *ngFor="let map of mapList; let i = index"
              value="Mapa 1"
            >
              {{ map.raceMap.name }}
            </li>
          </ul>
        </div>
        <div class="new-map-btn">
          <button class="m-2" (click)="switchToNewMapView()">
            Utwórz nową
          </button>
          <button
            *ngIf="chosenCategory === mapListsCategories[0]"
            (click)="deleteMap()"
          >
            Usuń mapę
          </button>
        </div>
        <div class="map-preview">
          <app-map></app-map>
        </div>
        <div class="map-stats">
          <div>
            <div class="fw-bold stat-info">
              <label>Wszystkich rozegranych:</label>
            </div>
            <div class="stat-info">{{ allGames }}</div>
            <div
              *ngIf="mapListsCategories.indexOf(chosenCategory) !== 0"
              class="fw-bold stat-info"
            >
              <label
                class="d-block"
                *ngIf="mapListsCategories.indexOf(chosenCategory) === 1"
                >Moich wygranych:
              </label>
              <label
                class="d-block"
                *ngIf="mapListsCategories.indexOf(chosenCategory) === 2"
                >Moich rozegranych:
              </label>
              <div class="stat-info">{{ this.chosenMap?.games }}</div>
            </div>
          </div>
          <div>
            <div class="fw-bold stat-info">Ocena</div>
            <div class="stat-info">{{ mapRate }}</div>
          </div>
        </div>
      </div>
      <div class="user-info">
        <div class="my-map-label">
          <div
            (click)="changeMapCategory(cat)"
            class="d-inline-block"
            [ngClass]="{
              'maps-category': chosenCategory !== cat,
              'chosen-category': chosenCategory === cat
            }"
            *ngFor="let cat of mapListsCategories"
          >
            {{ cat }}
          </div>
          <div
            [routerLink]="'/map/rank'"
            class="d-inline-block maps-category chosen-category"
          >
            Pokaż ranking map
          </div>
        </div>
        <div class="avatar">
          <div style="font-weight: bold">Awatar</div>
          <div class="image-upload">
            <label for="file-input" id="player-avatar"
              ><img [src]="avatar" />
            </label>
            <input
              id="file-input"
              type="file"
              accept="image/jpeg, image/png"
              (change)="onChange($event)"
            />
          </div>
        </div>
        <div class="ranking">
          <div style="font-weight: bold">Ranking</div>
          <div>Pozycja: {{ this.user?.ranks?.rankingPosition }}</div>
          <div>Punkty: {{ this.user?.ranks?.points }}</div>
          <div style="font-weight: bold">Rozegrane/wygrane gry</div>
          <div>
            {{ user?.statistics?.userWins }}/{{ user?.statistics?.userGames }}
          </div>
          <a href="/ranking"
            ><button class="btn show-ranking-btn">Pokaż ranking</button></a
          >
        </div>
        <div class="name">
          <div style="font-weight: bold">Nazwa użytkownika</div>
          <div>{{ this.user?.login }}</div>
        </div>
        <div class="email">
          <div style="font-weight: bold">E-mail</div>
          <div>{{ this.user?.email }}</div>
        </div>
      </div>
    </div>
  </body>
</html>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
