
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="nav-bar"></div>
  <div class="map-section">
    <div class="choose-map-category">
      <select #selectRefCat (change)="changeMapCategory(selectRefCat)" class="map-select">
        <option *ngFor="let category of mapListsCategories; let i = index" value="Mapa 1">{{category}}</option>
      </select>
    </div>
    <div class="choose-map">
      <select #selectRefMap (change)="changeMap(selectRefMap)" class="map-select">
        <option *ngFor="let map of mapList; let i = index" value="Mapa 1">Mapa {{i}}</option>
      </select>
    </div>
    <div class="new-map-btn">
      <button (click)="switchToNewMapView()">Utwórz nową</button>
    </div>
    <div class="map-preview">
      <app-map></app-map>
    </div>
    <div class="map-stats">
      <div>
        <div class="fw-bold stat-info">
          <label>Wszystkich rozegranych:</label>
        </div>
        <div class="stat-info">{{allGames}}</div>
        <div *ngIf="selectRefCat.selectedIndex !== 0" class="fw-bold stat-info">
          <label *ngIf="selectRefCat.selectedIndex === 1">Moich wygranych:</label>
          <label *ngIf="selectRefCat.selectedIndex === 2">Moich rozegranych:</label>
        </div>
        <div class="stat-info">{{this.mapList[0]?.games}}</div>
      </div>
      <div>
        <div class="fw-bold stat-info">Ocena</div>
        <div class="stat-info">{{mapRate}}</div>
      </div>


    </div>
  </div>
  <div class="user-info">
    <div class="my-map-label" style="font-weight: bold">
      <div>{{chosenCategory}}</div>
    </div>
    <div class="avatar">
      <div style="font-weight: bold;">Awatar</div>
      <div>
        <label id="player-avatar"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M39.61 196.8L74.8 96.29C88.27 57.78 124.6 32 165.4 32H346.6C387.4 32 423.7 57.78 437.2 96.29L472.4 196.8C495.6 206.4 512 229.3 512 256V448C512 465.7 497.7 480 480 480H448C430.3 480 416 465.7 416 448V400H96V448C96 465.7 81.67 480 64 480H32C14.33 480 0 465.7 0 448V256C0 229.3 16.36 206.4 39.61 196.8V196.8zM109.1 192H402.9L376.8 117.4C372.3 104.6 360.2 96 346.6 96H165.4C151.8 96 139.7 104.6 135.2 117.4L109.1 192zM96 256C78.33 256 64 270.3 64 288C64 305.7 78.33 320 96 320C113.7 320 128 305.7 128 288C128 270.3 113.7 256 96 256zM416 320C433.7 320 448 305.7 448 288C448 270.3 433.7 256 416 256C398.3 256 384 270.3 384 288C384 305.7 398.3 320 416 320z"/></svg>
        </label>
      </div>
    </div>
    <div class="ranking">
      <div style="font-weight: bold; ">Ranking</div>
      <div >Pozycja: {{this.user?.ranks?.rankingPosition}}</div>
      <div >Punkty: {{this.user?.ranks?.points}}</div>
      <div style="font-weight: bold; ">Rozegrane/wygrane gry</div>
      <div > {{user?.statistics?.userWins}}/{{user?.statistics?.userGames}} </div>
    </div>
    <div class="name">
      <div style="font-weight: bold;">Nazwa użytkownika</div>
      <div >{{this.user?.login}}</div>
    </div>
    <div class="email">
      <div style="font-weight: bold; ">E-mail</div>
      <div >{{this.user?.email}}</div>
    </div>
  </div>
  <div class="play-btn">
    <button (click)="switchToStartView()">
      Graj
    </button>
  </div>
  <div class="logout-btn">
    <button (click)="logout()">
      Wyloguj
    </button>
  </div>
  <div class="user-name">Profil {{this.user?.login}}</div>
</div>

</body>
</html>
