<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container1" *ngIf="gameLoaded; else loading">
  <div class="room-id"><label style="display: table-cell; vertical-align: middle;">Pokój #{{this.gameId}}</label></div>
  <div class="players-list">
    <div style="font-weight: bold; font-size: 25px; margin-bottom: 20px;">Lista graczy:</div>
    <ul style="overflow:hidden; overflow-y:scroll; height: 80%">
      <li [style.background-color]="user?.playerId === this.currentPlayer?.playerId ? 'green' : user?.playerStatus === 'LOST' ? 'grey' : 'transparent'" class="player-list-element" *ngFor="let user of playersList;">
        <label class="player-avatar"><img class="avatar" [src]="getAvatar(user.avatar)"/>
        </label>
        <label >{{user.name}}</label>
      </li>
    </ul>


  </div>
  <div class="options">
    <button (click)="leaveGame()" id="leave-game-btn">Opuść grę</button>
  </div>
  <div class="information-bar" style="height: 80px;">
    <div *ngIf="currentPlayer?.name === authorizedPlayer?.name">
      <div style="font-size: 25px; font-weight: bold; color: green;"><label>TWÓJ RUCH</label></div>
      <div [style.color]="this.timer < 4 ? 'red' : 'black'" style="font-size: 30px">Pozostalo {{this.timer}} sekund.</div>
    </div>
    <div *ngIf="!(currentPlayer?.name === authorizedPlayer?.name)" style="font-size: 35px; font-weight: bold; color: gray;"><label>OCZEKIWANIE NA TWOJĄ TURĘ</label></div>

  </div>
  <div class="board">
    <app-map></app-map>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
<app-rate-map-modal *ngIf="gameEnd" [mapId]="getGameId()"></app-rate-map-modal>
</body>
</html>
