<div class="container-fluid fill-height">
  <div id="header" class="row justify-content-center">
    <h1>Podaj kod gry</h1>
  </div>
  <form [formGroup]="joinForm">
    <div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <label for="text"></label>
            <input
              type="text"
              id="code"
              class="form-control"
              placeholder="Kod gry"
              formControlName="code"
              required
            />
          </div>
        </div>
      </div>
      <div id="messageBox" class="row justify-content-center">
        <h3 class="errorMessage" *ngIf="showErrorMessage">
          Wprowadź kod gry
        </h3>
      </div>
      <div id="button-box" class="row justify-content-center">
        <div class="col-md-4">
          <button class="button-cancel" (click)="changeDialogStatus()">
            Anuluj
          </button>
        </div>
        <div class="col-md-4">
          <button type="submit" class="button-join" (click)="onSubmit()">
            Dołącz
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
