.container-fluid{
    background-color: rgba(78, 42, 106, 100);
    min-height: 100%;
  }
  
  #register{
     padding: 10%;
  }
  
  
  #box{
      padding: 2%;
      background-color: white;
      margin-top: 2%;
      border-radius: 5%;
  
      
  }
  
  #game-name{
      color:white;
      font-family: Arial;
  }

  h5{
      margin-top: 15%;
      margin-bottom: 10%;
     
  }
  
  #to-login-button-box{
      margin-top: 8%;
      
  }
  
  .button{
      padding-bottom: 1%;
      padding-top: 1%;
      padding-left: 10%;
      padding-right: 10%;
      border-radius: 12px;
      display: inline-block;
  }
  
  
  .to-login{
    margin-top: 10%;
    margin-bottom: 23%;
    background-color: rgba(78, 42, 106, 100);
    color: rgba(255,255,255,100);
    font-size: 17px;
        
  }
  
  