<div class="container-fluid">
  <div id="register" class="row justify-content-center text-center">
    <h1 id="game-name">Nazwa Gry</h1>
    <div id="box" class="col-md-3 align-self-center">
      <h4>Rejestracja</h4>
      <form [formGroup]="signupForm">
        <div *ngIf="showLoginErrorMessage" class="errorMessage">
          Podany login jest już zajęty
        </div>
        <div *ngIf="showEmailErrorMessage" class="errorMessage">
          Podany adres e-mail jest już zajęty
        </div>
        <div class="form-group">
          <label for="email"></label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="E-mail"
            formControlName="email"
            required
          />
          <div *ngIf="signupForm.get('email')?.touched">
            <div
              *ngIf="signupForm.get('email')?.hasError('required')"
              class="errorMessage"
            >
              Pole wymagane
            </div>
            <div
              *ngIf="signupForm.get('email')?.hasError('email')"
              class="errorMessage"
            >
              Niepoprawny format emaila
            </div>
            <div
              *ngIf="signupForm.get('email')?.hasError('minlength')"
              class="errorMessage"
            >
              Email powinien zawierać co najmniej 6 znaków
            </div>
            <div
              *ngIf="signupForm.get('email')?.hasError('maxlength')"
              class="errorMessage"
            >
              Email nie może zawierać więcej niż 40 znaków
            </div>
          </div>
          <div class="form-group">
            <label for="text"></label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Login"
              formControlName="username"
              required
            />
            <div *ngIf="signupForm.get('username')?.touched">
              <div
                *ngIf="signupForm.get('username')?.hasError('required')"
                class="errorMessage"
              >
                Pole wymagane
              </div>
              <div
                *ngIf="signupForm.get('username')?.hasError('minlength')"
                class="errorMessage"
              >
                Login powinien zawierać co najmniej 3 znaki
              </div>
              <div
                *ngIf="signupForm.get('username')?.hasError('maxlength')"
                class="errorMessage"
              >
                Login nie może zawierać więcej niż 20 znaków
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Hasło"
            formControlName="password"
            required
          />
        </div>
        <div *ngIf="signupForm.get('password')?.touched">
          <div
            *ngIf="signupForm.get('password')?.hasError('required')"
            class="errorMessage"
          >
            Pole wymagane
          </div>
          <div
            *ngIf="signupForm.get('password')?.hasError('minlength')"
            class="errorMessage"
          >
            Hasło powinien zawierać co najmniej 6 znaków
          </div>
          <div
            *ngIf="signupForm.get('password')?.hasError('maxlength')"
            class="errorMessage"
          >
            Login nie może zawierać więcej niż 40 znaków
          </div>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input
            type="password"
            id="confirm-password"
            class="form-control"
            placeholder="Powtórz hasło"
            formControlName="confirmPassword"
            required
          />
        </div>
        <div *ngIf="signupForm.get('confirmPassword')?.touched">
          <div
            *ngIf="signupForm.get('confirmPassword')?.hasError('required')"
            class="errorMessage"
          >
            Pole wymagane
          </div>
          <div *ngIf="signupForm.hasError('notSame')" class="errorMessage">
            Podane hasła muszą być identyczne
          </div>
        </div>
        <div id="register-button-box">
          <div class="col-md-12">
            <button class="button button-register" (click)="onSubmit()">
              Zarejestruj się
            </button>
          </div>
        </div>
        <div>
          <p>Masz już konto?</p>
          <div class="col-md-12">
            <button class="button button-login" [routerLink]="'/signin'">
              Zaloguj się
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
