.container-fluid {
  background-color: rgba(78, 42, 106, 100);
  min-height: 100%;

}

#register {
  padding: 10%;
}


#box {
  padding: 3%;
  background-color: white;
  margin-top: 2%;
  border-radius: 5%;
}

#game-name {
  color: white;
  font-family: Arial;
}

#register-button-box {
  margin-top: 8%;
  margin-bottom: 7%;
}

.button {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 12px;
  display: inline-block;
}


.button-register {
  background-color: rgba(78, 42, 106, 100);
  color: rgba(255, 255, 255, 100);
  font-size: 17px;
}

.button-login {
  color: rgba(78, 42, 106, 100);
  background-color: rgba(255, 255, 255, 100);
  border: 1px solid rgba(78, 42, 106, 100);
}


.errorMessage {
  color: red;
}