<div class="container-fluid">
  <div id="register" class="row justify-content-center text-center">
    <h1 id="game-name">Nazwa Gry</h1>
    <div id="box" class="col-md-3 align-self-center">
      <h5>
        Zostałeś <br />
        zarejestrowany!
      </h5>
      <p>Teraz możesz się zalogować</p>
      <form action="">
        <div id="to-login-button-box">
          <div class="col-md-12">
            <button class="button to-login" [routerLink]="'/signin'">
              Przejdź do strony logowania
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
